/* CSS Document */
*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	outline-style: none;
	box-sizing: border-box;
	/*FF*/
}

body {
	line-height: 1;
}

a {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

a:hover,
a:focus {
	text-decoration: none;
	bblr: expression(this.onFocus=this.blur());
	/*IE*/
	outline-style: none;
	/*FF*/
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,
select {
	vertical-align: middle;
}


/*css为clearfix，清除浮动*/

.clearfix::before,
.clearfix::after {
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
	/*IE/7/6*/
}


/*滚动条整体部分*/

.no-scroll::-webkit-scrollbar {
	width: 0;
	opacity: 0;
}


/*滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）*/

.no-scroll::-webkit-scrollbar-thumb {}


/*滚动条的轨道（里面装有Thumb）*/

.no-scroll::-webkit-scrollbar-track {}


/*滚动条的轨道的两端按钮，允许通过点击微调小方块的位置。*/

.no-scroll::-webkit-scrollbar-button {}


/*内层轨道，滚动条中间部分（除去）*/

.no-scroll::-webkit-scrollbar-track-piece {}


/*边角，即两个滚动条的交汇处*/

.no-scroll::-webkit-scrollbar-corner {}


/*两个滚动条的交汇处上用于通过拖动调整元素大小的小控件*/

.no-scroll::-webkit-resizer {}